<div class="certframe{{if .PageAfter}} pageafter{{end}}">
    <h1>Receipt Log - 500 miles Clockwise</h1>
    <h4>Emergency contact number: <strong>07960 986022</strong></h4>
    <table class="rlblock1">
        <tr>
            <td> Rider name: <strong> {{if .IsBlank}}{{else}}{{.RiderName}}{{end}}</strong></td>
            <td> Bike reg number: <strong>{{.BikeReg}}</strong></td>
        </tr>
    </table>
    <table class="rlblock2">
        <tr>
            <td class="top">Start time:</td>
            <td class="top">Staff signature:</td>
        </tr>
        <tr>
            <td>Odometer:</td>
            <td class="bottom"></td>
        </tr>
    </table>
    <table class="rlblock2">
        <tr>
            <td class="top">Finish time:</td>
            <td class="top">Staff signature:</td>
        </tr>
        <tr>
            <td>Odometer:</td>
            <td class="bottom"></td>
        </tr>
    </table>
    <table class="rlblock3">
        <tr>
            <th class="rlindex top">Receipt No.</th>
            <th class="rlplace top">Location</th>
            <th class="top">Odo reading</th>
        </tr>
        <tr>
            <td class="rlindex top">1</td>
            <td class="rlplace top">Millom</td>
            <td class="top"></td>
        </tr>
        <tr>
            <td class="rlindex top">2</td>
            <td class="rlplace top">Workington</td>
            <td class="top"></td>
        </tr>
        <tr>
            <td class="rlindex top">3</td>
            <td class="rlplace top">Berwick-Upon-Tweed</td>
            <td class="top"></td>
        </tr>
        <tr>
            <td class="rlindex top">4</td>
            <td class="rlplace top">Whitby</td>
            <td class="top"></td>
        </tr>
        <tr>
            <td class="rlindex">5</td>
            <td class="rlplace">Beverley</td>
            <td></td>
        </tr>
    </table>
</div>