/*
 * handbook.css
 *
 * Styling for RBLR1000 handbook
 *
 */

body {
  font-family: Arial, Verdana, Geneva, Tahoma, sans-serif;
}

section {
  display: block;
  clear: both;
  width: 185mm;
  height: 282mm;
  margin-left: auto;
  margin-right: auto;
}

#imghdr {
  display: flex;
  vertical-align: middle;
  text-align: center;
  width: 100%;
  justify-content: space-between;
}
.fpleft {
  width: 150px;
  height: 150px;
  margin-top: 2em;
  text-align: left;
}
.fpright {
  width: 220px;
  height: 170px;
  margin-top: 1em;
  text-align: right;
}
.newpage {
  page-break-before: always;
  padding-top: 2em;
}
h1,
h2 {
  text-align: center;
  clear: both;
}

.hilite {
  text-align: justify;
  background-color: yellow;
  font-weight: bold;
  padding: 2px 5px 2px 5px;
}

h3 {
  text-decoration: underline;
  font-weight: bold;
  margin-bottom: 0;
}

p {
  text-align: justify;
}

#routelist {
  width: 150mm;
  margin-left: auto;
  margin-right: auto;
}

#routelist td {
  padding-bottom: 3px;
}

.w3w {
  color: blue;
  margin-left: 1em;
}
.routelog {
  width: 185mm;
  border-spacing: 0;
}

.routelog caption {
  font-size: large;
  font-weight: bold;
}
.routelog th {
  border-top: solid 1px;
  border-bottom: solid 1px;
  border-right: solid 1px;
  padding: 2px 5px;
}
.routelog td {
  border-right: solid 1px;
  border-bottom: solid 1px;
  padding: 2px 5px;
}

.routelog .order {
  width: 5em;
  border-left: solid 1px;
  font-weight: bold;
  text-align: center;
}

.routelog .name {
  border-left: solid 1px;
  width: 12em;
}
.routelog .coords {
  width: 7em;
}

.routemap {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  /*height: 550px;*/
  width: 185mm;
}

.email {
  color: blue;
}
footer {
  display: block;
  bottom: 0;
  padding-bottom: 0em;
  border-top: solid 1px;
  width: 185mm;
  margin-left: auto;
  margin-right: auto;
}

.rightside {
  float: right;
}

@media print {
  @page {
    size: A4 portrait;
    margin-top: 0;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 0;
  }
  html,
  body {
    height: 100%;
  }
}
